.todo-list {
  background: crimson;
  max-width: 800px;
  min-height: 450px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #fff;
  border-top: none;
  border-bottom: none;
  font-family: "Indie Flower", cursive;
  h4 {
    transition: .5s all ease-in-out;
  }
  .hide {
    opacity: 0;
  }
}
