.todo {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  padding: 5px;
  margin: 2px;
  transition: all .2s ease-out;
  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 5px #000;
    transform: translateY(-2px);
  }

}
.completed {
  text-decoration: line-through;
  h3 {
    opacity: 0.2;
  }
}
button {
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px;
  background: tomato;
  border: 1px solid black;
  transition: all .2s ease-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}