@import "./components/todoList";
@import "./components/todo";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background: #222;
  height: 100vh;
}
header {
  background: #222;
  color: #fff;
  height: 100px;
  font-family: "Indie Flower", cursive;
  h1 {
    line-height: 100px;
    font-size: 3rem;
  }
}
